header{
  color: Black;
  background-color: CCD6EB;
  padding: 1%;
}

body {
  margin: 50;

  text-align: center;
    background-color: 993955;}
p { 
  color:black;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;}
li{
  text-align: left;
}
/* this is a comment is css */
  div{
    margin: 30;
    background-color: E9ECF5;
    padding: 5%;
  }


  h2{
    font-family: Arial, Helvetica, sans-serif;

  }
  /* this is also a comment */
  h3,{
    background-color: 9ECE9A;
    height: 30;
  }
  a:link{
    color:blue;
  }

  :a:visited{
    color: pink;
  }

  a:hover{
    color:goldenrod;
  }

a:active{
  color:aqua;
}

  footer{
    font-size: 12;
  }
  
  hr{
    height: 5px;
    background-color: black;
    border-color: black;
  }
