header{
  color: black;
  background-color: 993955;
}

body {
  margin: 50;

  text-align: center;
    background-color: A3C3D9;}
p { 
  color: black;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;}

  div{
    margin: 30;
    background-color: 993955;
  }


  h2{
    font-family: Arial, Helvetica, sans-serif;

  }
  
  h3, nav{
    background-color: ACDDE7;
  }

  footer{
    font-size: 12;
  }
  
